<img src="images/logo.svg" alt="logo" />
<div class="container">
  <div class="selector">
    <div class="bill">
      <h1>Bill</h1>
      <input placeholder="0" id="input-bill" type="number" step="0.25" />
      <p id="invalid-bill-msg" class="error-hide">
        <em>This bill is invalid!</em>
      </p>
    </div>
    <div class="tip">
      <h1>Select Tip %</h1>
      <div class="button-container">
        <button id="5-button" onclick="buttonListener(5);">5%</button>
        <button id="10-button" onclick="buttonListener(10);">10%</button>
        <button id="15-button" onclick="buttonListener(15);">15%</button>
        <button id="25-button" onclick="buttonListener(25);">25%</button>
        <button id="50-button" onclick="buttonListener(50);">50%</button>
        <input
          placeholder="Custom"
          id="input-custom"
          type="number"
          max="100"
          min="0"
        />
        <p id="invalid-custom-msg" class="error-hide">
          <em>Tip can't be negative!</em>
        </p>
      </div>
    </div>
    <div class="people">
      <h1>Number of People</h1>
      <input placeholder="0" id="input-people" type="number" min="0" step="1" />
      <p id="invalid-people-msg" class="error-hide">
        <em>This number of people is invalid!</em>
      </p>
    </div>
  </div>
  <div class="review">
    <div class="results">
      <div class="amount-person">
        <div class="text">
          <h1>Tip Amount</h1>
          <h2>/ person</h2>
        </div>
        <div class="money" id="tip-person"></div>
      </div>
      <div class="total-person">
        <div class="text">
          <h1>Total</h1>
          <h2>/ person</h2>
        </div>
        <div class="money" id="total-person"></div>
      </div>
    </div>
    <button id="reset-btn" onclick="reset();">Reset</button>
  </div>
</div>
